@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&family=Sora:wght@200;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    width: 100vw;
    height: 100vh;
}
  
nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    padding: 0;
    font-family: 'Inter', sans-serif;
    flex-direction: row;
}

nav ul {
   
    display: flex;
    gap: 1rem;
    font-family: "Inter", Arial;
    font-size: 1.2rem;
    font-weight: 300;
}

.login-bar {
     list-style: none;
}

nav img {
flex-direction: row;
}

.nav_list {
    list-style: none;
    flex-direction: row;
}


.initial-banne{
    flex-direction: row;
    text-align: left;
}
.banner-left {
    font-family: 'Sora', sans-serif;
}
.banner-left p{
    font-family: 'Inter', sans-serif;
}



.banner-mid-left{
    width: 500px;
    height: 500px;
    display: flex;
}

.card-section {
    margin: 0;
    padding: 0;
}

.card-banner img {
    width: 40%;
    height: 20%;
    flex-direction: row;
    margin: 0;
    padding: 0;
    border: 0cap;
    text-align: right;
}